*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* -----------------------Header------------- */

.sbarra{
    width: 1920px;
    height: 170px;
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
}

.sbarra img{
    width: 250px;
    margin-top: 100px;
    margin-left: 25px;
}

#Titolo{
    font-size: 1.7em;
    font-weight: 800;
}

#Sotto-al-titolo{
    font-size: 1.3em;
    color: grey;
}

#Colorp{
    color: #20a9e5;
}

#Data-header{
    font-size: 1em;
    color: grey;
}

/* -----------------------Header end------------- */

.Allineatore-testi{
    width: 1000px;
    color: rgba(0, 0, 0, 0.856);
    margin-top: 20px;
    margin-bottom: 20px;
}

.giallo{
    background-color: yellow;
}


.Centro-scritte-ul{
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.856);
    margin-bottom: 20px;
}

/* -------------------------table--------------- */

table tr th{
    background-color: #20a9e5;
    width: 240px;
    text-align: left;
}

#lunga{
    width: 520px;
}



 tr td{
    background-color: #b1e5f2;
    
    
}

.bianco td{
    background-color: white;
}

table tr td{
    padding: 20px 5px;
    text-align: left;
}

table{
    margin-bottom: 20px;
}

/* -------------------------table end--------------- */

