*{
    box-sizing: border-box;
    margin: 0px 0px 0px 4px;
    padding: 0;
}



/* -----------------------Header------------- */

.sbarra{
    width: 1920px;
    height: 170px;
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
}

.sbarra img{
    width: 250px;
    margin-top: 100px;
    margin-left: 25px;
}

#Titolo{
    font-size: 1.7em;
    font-weight: 800;
}

#Sotto-al-titolo{
    font-size: 1.3em;
    color: grey;
}

#Colorp{
    color: #20a9e5;
}

.p-piccolo-grigio{
    font-size: 1em;
    color: grey;
}

/* -----------------------Header end------------- */
/* -----------------------main--------------- */
.Allineatore-testi{
    width: 1000px;
    color: rgba(0, 0, 0, 0.856);
    margin-top: 40px;
    margin-bottom: 40px;
}

.giallo{
    background-color: yellow;
}


.Centro-scritte-ul{
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.856);
    margin-bottom: 40px;
}

/* -------------------------table--------------- */

table tr th{
    background-color: #20a9e5;
    width: 240px;
    text-align: left;
}

#lunga{
    width: 520px;
}



 tr td{
    background-color: #b1e5f2;
    
    
}

.bianco td{
    background-color: white;
}

table tr td{
    padding: 20px 5px;
    text-align: left;
}

table{
    margin-bottom: 40px;
}

/* -------------------------table end--------------- */
/* ------------------------main end---------- */


#p-grosso{
    font-size: 1.4rem;
    color: grey;
    font-weight: bolder;
    margin-left: 10px;
}


#foto-pc{
    background-image: url(img/monitor.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
}

#foto-graph{
    background-image: url(img/graph.jpg);
    width: 250px;
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
}

.Scritte-img-footer{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 15px;
}